<div class="recipes">
  <p id="notice"><%= notice %></p>

  <h1>あと少しの食材で作ることができるレシピ</h1>

  <div class="recipes-list">

    <ul>
      <% @enable_recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe %></li>
      <% end %>
    </ul>
  </div>
</div>
