<div class="recipes">
  <p id="notice"><%= notice %></p>

  <h1>レシピ一覧</h1>

  <div class="recipes-list">

    <ul>
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe %></li>
      <% end %>
    </ul>
  </div>

  <br>

  <%= link_to 'New Recipe', new_recipe_path %>
</div>
