<div class="foods">
  <h1>最近追加した食材</h1>
  <ul class="foods-menu">
    <li class="foods-menu-nav">
      <%= link_to '履歴を削除', delete_history_foods_path, method: :post %>
    </li>
  </ul>
  <ul class="foods-list">
    <% @foods.each do |food| %>
      <li class="foods-list-item <%= food.food_category.name_en %>">
        <%= link_to food.name, storages_path(storage:
          { food_id: food.id, user_id: current_user.id }), method: :post %>
      </li>
    <% end %>
  </ul>
</div>
