a {
  color: #38678b;
}

li {
  list-style: none;
}

header {
  border-bottom: solid 1px #e7e7e7;
  padding: 0;
}

#logo {
  font-size: 1.7em;
  color: #333;
  letter-spacing: -1px;
  font-weight: bold;
}

.main-visual {
  width: 800px;
}

footer {
  margin-top: 30px;
  padding: 15px 30px;
  border-top: 1px solid #eaeaea;
}

footer .copyright {
  font-size: 86%;
}

.page-body {
  width: 860px;
  margin: 0 auto;
  padding: 30px;
}
